services:
  android-emulator:
    container_name: android-emulator
    build:
      context: .
      args:
        - API_LEVEL=36
        - CMD_LINE_VERSION=14742923_latest
        - IMG_TYPE=google_apis
        - ARCHITECTURE=x86_64
        - DEVICE_ID=pixel
    ports:
      - "5554:5554"
      - "127.0.0.1:5555:5555"
    environment:
      - MEMORY=6144
      - CORES=3
      - WIDTH=720
      - HEIGHT=1280
      - DENSITY=320
      - DISABLE_ANIMATION=true
      - DISABLE_HIDDEN_POLICY=true
    privileged: true
    tty: true
    stdin_open: true
    devices:
      - /dev/kvm:/dev/kvm
    extra_hosts:
      - "host.docker.internal:host-gateway"
    # volumes:
    #   - android_data:/data

# volumes:
#   android_data:
